markupsafe
pytz
typing
backports.ssl_match_hostname
docker-pycreds
websocket
requests
six
docutils
babel
imagesize
jinja2
docker-py
pycrypto
psycopg2
odoorpc
ruamel.std.argparse
bgtunnel
dockerpty
psutil
sphinx
sphinx_bootstrap_theme
sphinx-intl
odoo-sphinx-autodoc
sphinxcontrib-napoleon
xlrd
#erppeek
ipython==5.4.1
reimport
virtualenvwrapper
idna
#MySQL-python
sqlalchemy
configparser
#jupyter
openerp_proxy
beautifulsoup4
htmllaundry
gitpython
click
flake8
colored
pyyaml
future
# deasy # a odoo handler to handle databases